<h1 class="header">Graders for Section <%= @section.section_number %></h1>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @graders.each do |grader| %>
        <tr>
          <td><%= grader.display_name %></td>
          <td><%= grader.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="actions">
  <%= link_to 'Back', course_path(@section.course), class: 'btn btn-secondary' %>
</div>
