/* app/assets/stylesheets/application.css */
/*
 *= require_self
 *= require_tree .
 */
 .dropdown-item {
    position: relative;
    z-index: 1040; /*higher than flash*/
  }
  .alert{
    position: relative;
    z-index: 10;
   
  }
